@media screen and (max-width:480px){
  .map{
    height: 89svh;
  }
}

  html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }














footer{
  width: 100%;
  height: 90px;
  background: #444C55;
  display: flex;
  justify-content: space-around;

}

footer button{
  background: transparent;
  border: none;
}